<%= simple_form_for @user, :multipart => true, :html => {:class => 'form-vertical'} do |f| %>
    <% if params[:action] == 'edit' %>
      <div id="image-container">
        <%= image_tag(@user.avatar_url(:profile)) %>
      </div>
      <%= f.input :avatar, :as => :file, :label => 'Change avatar' %>
      <%= f.input :avatar_cache, :as => :hidden %>
    <% end %>
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password %>
    <% if params[:action ] == 'edit' %>
      <%= f.input :phone_number %>
    <% end %>
    <% unless params[:action] == 'edit' %>
      <p class="help-block">We hate spam and won't do it.</p><br/>
    <% end %>
    <%= f.button :submit, :class => "btn btn-primary" %> 
<% end %>
