<h1><%= @user.username %></h1>
<%= link_to "Back", :back %>

<br/>
Member since: <%= @user.created_at.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %>

<% if @user == current_user %>
  <div>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>
<% end %>

<br/>
<h2>Agendas</h2>

<% if @user == current_user %>
  <%= link_to "[Add Agenda]", new_user_agenda_path(current_user) %>
<% end %>

<% unless @agendas.empty? %>
  <%= render :partial => 'agendas/agendas', :collection => @agendas, :as => :agenda %>
<% else %>
  <p>No agendas</p>
<% end %>

<%= hidden_field_tag "user_id", @user.id, { :id => "user_id" } %>
<% if current_user %>
  <%= hidden_field_tag "current_user_id", current_user.id, { :id => "current_user_id" } %>
<% end %>
