<!DOCTYPE html>
<html>
<head>
<%= render :partial => "layouts/core/meta" %>
</head>
<body>
<%= render :partial => 'layouts/core/navbar' %>
<%= render :partial => 'layouts/core/flash', :object => flash %>

<<<<<<< HEAD
=======
<% if logged_in? %>
  <%= render :partial => 'layouts/left_side/left_side', :object => @me %>
<% end %>

>>>>>>> layout
<div data-pjax-container>
  <%= yield %>
</div>

</body>
</html>
