<!DOCTYPE html>
<html>
<head>
  <title>Batsignal</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "mobile" if mobile_device? %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless flash.empty? %>
  <div id="flash-container">
  <% flash.each do |key, msg| %>
    <%= content_tag(:div, msg, :class => "flash_#{key}") %>
  <% end %>
  </div>
<% end %>
<% if logged_in? %>
  <%= link_to 'Log out', logout_path %>
<% end %>

<%= yield %>

</body>
</html>
