<!DOCTYPE html>
<html>
<head>
<%= render :partial => "layouts/core/meta" %>
</head>
<body>
<%= render :partial => 'layouts/core/navbar/navbar' %>
<%= render :partial => 'layouts/core/flash', :object => flash %>

<% if logged_in? %>
  <%= render :partial => 'layouts/left_side/left_side', :object => @me %>
  <div id="right-side">
    <div id="main-content-container" class="container">
      <%= yield %>
    </div>
  </div>
  <%= render :partial => "layouts/core/footer" %>
<% else %>
  <%= yield %>
<% end %>

</body>
</html>
